<a href="https://colab.research.google.com/github/brendanpshea/computing_concepts_python/blob/main/IntroCS_Part3_Review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Part 3 Review: Databases, Data Structures, AI

## What is a relational database?

A **relational database** is a type of database that organizes data into tables, with each table consisting of rows (also known as records or tuples) and columns (also known as fields or attributes). The tables are related to each other through **primary keys** and **foreign keys**, which establish relationships between the tables and allow for efficient data retrieval and manipulation.

In a relational database, each table represents a specific entity or concept, and each row within a table represents a unique instance of that entity. The columns define the attributes or properties of the entity. The relationships between tables are established based on the **logical connections** between the entities they represent.

**Relational databases** are based on the **relational model**, which was introduced by Edgar F. Codd in 1970. The relational model provides a mathematical foundation for organizing and manipulating data in a structured manner. It defines concepts such as **data integrity**, **normalization**, and **relational algebra**, which are essential for maintaining data consistency and performing complex queries.

### Example

Let's consider a relational database for a library system. The database might have tables such as "Books," "Authors," and "Borrowers." The "Books" table could have columns like "BookID" (primary key), "Title," "AuthorID" (foreign key referencing the "Authors" table), and "PublicationYear." The "Authors" table could have columns like "AuthorID" (primary key) and "AuthorName." The "Borrowers" table could have columns like "BorrowerID" (primary key), "BorrowerName," and "BookID" (foreign key referencing the "Books" table).

In this example, the relationships between the tables are established through the foreign keys. The "AuthorID" in the "Books" table relates each book to its corresponding author in the "Authors" table, while the "BookID" in the "Borrowers" table relates each borrowed book to its corresponding book in the "Books" table. This allows for efficient querying and retrieval of data, such as finding all books written by a specific author or identifying the borrowers of a particular book.

#### Books Table:

| BookID | Title | AuthorID | PublicationYear |
| --- | --- | --- | --- |
| 1 | Ulysses | 1 | 1922 |
| 2 | Dubliners | 1 | 1914 |
| 3 | The Importance of Being Earnest | 2 | 1895 |
| 4 | The Picture of Dorian Gray | 2 | 1890 |
| 5 | The Playboy of the Western World | 3 | 1907 |

#### Authors Table:

| AuthorID | AuthorName |
| --- | --- |
| 1 | James Joyce |
| 2 | Oscar Wilde |
| 3 | John Millington Synge |

#### Borrowers Table:

| BorrowerID | BorrowerName | BookID |
| --- | --- | --- |
| 1 | John Smith | 1 |
| 2 | Emma Johnson | 2 |
| 3 | Michael Brown | 1 |
| 4 | Sarah Davis | 3 |
| 5 | David Wilson | 4 |

In this example:

-   The "Books" table contains information about each book, including its unique identifier (BookID), title, author (referenced by AuthorID), and publication year.
-   The "Authors" table stores the details of each author, with their unique identifier (AuthorID) and name.
-   The "Borrowers" table keeps track of who has borrowed which book, using the BorrowerID and BookID as foreign keys to establish the relationship between borrowers and books.

The relationships between the tables are as follows:

-   The "AuthorID" in the "Books" table is a foreign key referencing the "AuthorID" in the "Authors" table, establishing the relationship between books and their authors.
-   The "BookID" in the "Borrowers" table is a foreign key referencing the "BookID" in the "Books" table, establishing the relationship between borrowed books and their corresponding book records.

These tables and their relationships allow for efficient querying and data retrieval, such as finding all books written by a specific author or identifying the borrowers of a particular book.

In [4]:
%load_ext sql
%sql sqlite://

In [5]:
%%sql
-- Load SQL extension and establish a connection to an SQLite memory-based database

-- Creating the Authors table
CREATE TABLE Authors (
    AuthorID INTEGER PRIMARY KEY,
    AuthorName TEXT NOT NULL
);

-- Inserting data into the Authors table
INSERT INTO Authors (AuthorID, AuthorName) VALUES
    (1, 'James Joyce'),
    (2, 'Oscar Wilde'),
    (3, 'John Millington Synge');

-- Creating the Books table
CREATE TABLE Books (
    BookID INTEGER PRIMARY KEY,
    Title TEXT NOT NULL,
    AuthorID INTEGER,
    PublicationYear INTEGER,
    FOREIGN KEY (AuthorID) REFERENCES Authors(AuthorID)
);

-- Inserting data into the Books table
INSERT INTO Books (BookID, Title, AuthorID, PublicationYear) VALUES
    (1, 'Ulysses', 1, 1922),
    (2, 'Dubliners', 1, 1914),
    (3, 'The Importance of Being Earnest', 2, 1895),
    (4, 'The Picture of Dorian Gray', 2, 1890),
    (5, 'The Playboy of the Western World', 3, 1907);

-- Creating the Borrowers table
CREATE TABLE Borrowers (
    BorrowerID INTEGER PRIMARY KEY,
    BorrowerName TEXT NOT NULL,
    BookID INTEGER,
    FOREIGN KEY (BookID) REFERENCES Books(BookID)
);

-- Inserting data into the Borrowers table
INSERT INTO Borrowers (BorrowerID, BorrowerName, BookID) VALUES
    (1, 'John Smith', 1),
    (2, 'Emma Johnson', 2),
    (3, 'Michael Brown', 1),
    (4, 'Sarah Davis', 3),
    (5, 'David Wilson', 4);

 * sqlite://
Done.
3 rows affected.
Done.
5 rows affected.
Done.
5 rows affected.

[]

## How do I use SQL to query databases?

**SQL (Structured Query Language)** is a standard language used to interact with relational databases. It allows you to retrieve, manipulate, and manage data stored in the database tables. SQL provides various commands and clauses to perform different types of queries and operations on the database.

Here are some commonly used SQL commands:

-   **SELECT**: Retrieves data from one or more tables based on specified conditions.
-   **INSERT**: Inserts new records into a table.
-   **UPDATE**: Modifies existing records in a table.
-   **DELETE**: Removes records from a table based on specified conditions.
-   **JOIN**: Combines rows from two or more tables based on a related column between them.
-   **WHERE**: Filters the result set based on specified conditions.
-   **ORDER BY**: Sorts the result set in ascending or descending order based on one or more columns.
-   **GROUP BY**: Groups the result set based on one or more columns.
-   **HAVING**: Filters the grouped result set based on specified conditions.
-   **LIMIT/OFFSET**: Restricts the number of rows returned by a query and allows for pagination.

### Example

Using the library database from the previous example, let's look at 10 sample SQL queries:

| Query | Explanation |
| --- | --- |
| SELECT * FROM Books; | Retrieve all columns and rows from the "Books" table. |
| SELECT Title, PublicationYear FROM Books; | Retrieve only the "Title" and "PublicationYear" columns from the "Books" table. |
| SELECT * FROM Books WHERE AuthorID = 1; | Retrieve all books written by the author with AuthorID 1. |
| SELECT * FROM Books ORDER BY PublicationYear DESC; | Retrieve all books and sort them in descending order based on the "PublicationYear" column. |
| SELECT * FROM Books JOIN Authors ON Books.AuthorID = Authors.AuthorID; | Retrieve all books along with their corresponding author information by joining the "Books" and "Authors" tables based on the "AuthorID" column. |
| SELECT Authors.AuthorName, COUNT(*) as BookCount FROM Authors JOIN Books ON Authors.AuthorID = Books.AuthorID GROUP BY Authors.AuthorID; | Retrieve the count of books written by each author by joining the "Authors" and "Books" tables and grouping the results by "AuthorID". |
| SELECT * FROM Borrowers WHERE BookID = 1; | Retrieve all borrowers who have borrowed the book with BookID 1. |
| INSERT INTO Books (Title, AuthorID, PublicationYear) VALUES ('The Dead', 1, 1914); | Insert a new book record into the "Books" table with the specified values. |
| UPDATE Books SET PublicationYear = 1915 WHERE BookID = 6; | Update the "PublicationYear" of the book with BookID 6 to 1915. |
| DELETE FROM Borrowers WHERE BorrowerID = 3; | Delete the borrower record with BorrowerID 3 from the "Borrowers" table. |

These are just a few examples of how SQL can be used to query and manipulate data in a relational database. SQL provides many more commands and clauses to perform complex queries, data aggregation, and database management tasks.

### What is a Python Dictionary?

A **Python dictionary** is a built-in data structure that allows you to store and retrieve data in a key-value format. It is an unordered collection of **key-value pairs**, where each key is unique and associated with a specific value. Dictionaries are also known as **associative arrays**, **hash tables**, or **hash maps** in other programming languages.

In a dictionary, the **keys** are used to index and access the corresponding **values**. Keys must be immutable objects like strings, numbers, or tuples, while values can be of any data type, including lists, dictionaries, or even functions. The key-value pairs are enclosed in curly braces `{}`, and each pair is separated by a comma.

Here's the general syntax for creating a dictionary:

```python
dictionary_name = {key1: value1, key2: value2, ..., keyN: valueN}
```

You can access the value associated with a specific key using square brackets `[]` or the `get()` method. You can also modify, add, or remove key-value pairs using various dictionary methods and operations.

### Example

Let's create a dictionary to store information about famous paintings and their artists:

In [ ]:
paintings = {
    "Mona Lisa": "Leonardo da Vinci",
    "The Starry Night": "Vincent van Gogh",
    "The Persistence of Memory": "Salvador Dali",
    "The Scream": "Edvard Munch",
    "Girl with a Pearl Earring": "Johannes Vermeer"
}

Now, let's take a look at some common operations.

In [2]:
# Create a dictionary to store information about famous paintings and their artists
paintings = {
    "Mona Lisa": "Leonardo da Vinci",
    "The Starry Night": "Vincent van Gogh",
    "The Persistence of Memory": "Salvador Dali",
    "The Scream": "Edvard Munch",
    "Girl with a Pearl Earring": "Johannes Vermeer"
}

# Accessing values
print("Accessing values:")
print(paintings["Mona Lisa"])  # Output: Leonardo da Vinci
print(paintings.get("The Starry Night"))  # Output: Vincent van Gogh
print()

# Modifying values
print("Modifying values:")
paintings["The Scream"] = "Edvard Munch (Norwegian)"
print(paintings["The Scream"])  # Output: Edvard Munch (Norwegian)
print()

# Adding new key-value pairs
print("Adding new key-value pairs:")
paintings["The Birth of Venus"] = "Sandro Botticelli"
print(paintings["The Birth of Venus"])  # Output: Sandro Botticelli
print()

# Removing key-value pairs
print("Removing key-value pairs:")
del paintings["The Persistence of Memory"]
print("The Persistence of Memory" in paintings)  # Output: False
print()

# Checking if a key exists
print("Checking if a key exists:")
if "Girl with a Pearl Earring" in paintings:
    print("The painting 'Girl with a Pearl Earring' exists in the dictionary.")
print()

# Iterating over a dictionary
print("Iterating over a dictionary:")
for painting, artist in paintings.items():
    print(f"{painting} is painted by {artist}.")

Accessing values:
Leonardo da Vinci
Vincent van Gogh

Modifying values:
Edvard Munch (Norwegian)

Adding new key-value pairs:
Sandro Botticelli

Removing key-value pairs:
False

Checking if a key exists:
The painting 'Girl with a Pearl Earring' exists in the dictionary.

Iterating over a dictionary:
Mona Lisa is painted by Leonardo da Vinci.
The Starry Night is painted by Vincent van Gogh.
The Scream is painted by Edvard Munch (Norwegian).
Girl with a Pearl Earring is painted by Johannes Vermeer.
The Birth of Venus is painted by Sandro Botticelli.