# Databases Unlocking the Power of Data

In today's digital age, we are surrounded by an ever-growing ocean of data. From the books we read to the purchases we make, from scientific research to social media interactions, data is being generated at an unprecedented rate. But raw data alone is of little use. The real power lies in our ability to organize, structure, and extract meaningful insights from this vast sea of information. This is where databases come into play.

**Databases** are sophisticated systems designed to store, manage, and retrieve large amounts of structured data efficiently. They serve as the backbone of countless applications and services we use daily, from e-commerce platforms to social networks, from healthcare systems to financial institutions.

But why are databases so crucial? Consider these key points:

1. **Organization**: Databases provide a structured way to store data, making it easy to find and use when needed.
2. **Efficiency**: They allow for quick retrieval and updating of information, even when dealing with millions of records.
3. **Data Integrity**: Databases help maintain the accuracy and consistency of data through various mechanisms.
4. **Security**: They offer robust security features to protect sensitive information.
5. **Scalability**: Databases can grow and adapt as data needs evolve.

In this chapter, we'll embark on a journey to understand the fundamentals of databases, with a focus on **relational databases** and the popular query language **SQL** (Structured Query Language). We'll use **SQLite**, a lightweight yet powerful database engine, to illustrate key concepts and provide hands-on examples.

By the end of this chapter, you'll have a solid grasp of:
- The problem databases solve
- What makes a database different from a simple file
- The concept of relational databases
- Basic SQL commands for querying and manipulating data
- More advanced database operations like joins and aggregations
- Alternative database models for different types of data and use cases

Whether you're a budding developer, a data enthusiast, or simply curious about the technology that powers much of our digital world, understanding databases is an invaluable skill. So, let's dive in and unlock the power of structured data!

## The Problem: How to Turn "Raw" Data Into "Structured" Information and "Usable" Knowledge?

In our digital age, we find ourselves inundated with an ever-expanding ocean of data. Every interaction in the digital realm, from online purchases to social media posts, generates information, contributing to a vast universe of raw data. This abundance presents a significant challenge: how do we transform this raw, unprocessed information into something meaningful and actionable? This is the fundamental problem that databases and data management systems aim to solve.

**Raw data**, in its unprocessed form, is like an unsorted pile of documents or a jumble of numbers and text. It might include customer purchase histories, temperature readings from weather stations across the globe, or millions of social media posts. While this data undoubtedly contains valuable insights, it's extremely difficult to extract meaningful information or patterns from it in this state. The sheer volume and lack of organization make it impractical for humans or even computers to analyze effectively.

The journey from raw data to usable knowledge involves three key stages:

1. **Raw Data**: Unprocessed, unorganized information
2. **Structured Information**: Data organized into a logical framework
3. **Usable Knowledge**: Actionable insights derived from analysis

The first step in making sense of this data deluge is to transform raw data into **structured information**. This process involves organizing the data into a logical framework, categorizing similar elements, establishing relationships between different data points, and ensuring consistency in how the data is formatted and represented. It's akin to taking that pile of unsorted documents and filing them into a well-organized system where each piece of information has its proper place and is easily retrievable.

This is where databases come into play. A database provides a structured environment for storing and organizing data. It offers a framework for defining how different pieces of data relate to each other, ensures consistency in data formats, and provides efficient methods for storing and retrieving information. By imposing structure on raw data, databases make it possible to ask specific questions and get meaningful answers quickly, even when dealing with vast amounts of information.

However, having structured information is just the beginning. The ultimate goal is to derive **usable knowledge** from this structured data. This involves analyzing the data to uncover patterns, trends, and insights that can inform decision-making and strategy. It might involve applying statistical methods, using machine learning algorithms, or employing other analytical techniques to extract meaningful conclusions from the data.

To illustrate the differences between these stages, consider the following table:

| Stage | Characteristic | Example |
|-------|----------------|---------|
| Raw Data | Unorganized, difficult to analyze | A text file containing thousands of customer reviews |
| Structured Information | Organized, queryable | A database table with reviews categorized by product, date, and rating |
| Usable Knowledge | Actionable insights | A report showing trends in customer satisfaction over time |

Databases play a crucial role in this transformation process. They not only provide the means to structure and organize data but also offer powerful query capabilities that allow us to retrieve specific information quickly and efficiently. They maintain data integrity, ensuring that the information remains consistent and accurate over time. They allow for efficient updates and modifications, making it possible to keep large datasets current. Perhaps most importantly, they facilitate the creation of relationships between different data elements, allowing us to understand how various pieces of information connect and interact.

By solving the problem of how to turn raw data into structured information, databases lay the foundation for deriving usable knowledge. They act as a bridge between the chaotic world of raw data and the ordered realm of actionable insights. In the sections that follow, we'll delve deeper into how databases accomplish this feat, with a particular focus on relational databases and SQL (Structured Query Language) as powerful tools for data management and analysis.

As we explore these concepts, we'll see how databases not only solve the immediate problem of data organization but also open up new possibilities for data analysis, business intelligence, and decision-making. In a world where data is often described as the new oil, understanding how to refine this raw resource into usable knowledge is an increasingly critical skill across virtually every field and industry.

## What is a Database? How does it differ from a "Flat File"?

To understand the power and utility of databases, it's helpful to contrast them with a simpler method of data storage: the flat file. This comparison illuminates why databases have become the backbone of modern information systems and why they're essential for managing complex, large-scale data.

A **database** is a structured collection of data organized for efficient storage, retrieval, and manipulation. It's designed to manage large amounts of information and typically consists of multiple interconnected tables. Databases use sophisticated software called a Database Management System (DBMS) to interact with users, applications, and the data itself. This system allows for complex queries, multi-user access, and ensures data integrity and security.

On the other hand, a **flat file** is a simple file containing a list of data with no structured relationships between the elements. Think of it as a single table where each line represents a record and each record contains fields separated by delimiters like commas or tabs. A common example of a flat file is a CSV (Comma-Separated Values) file.

To illustrate the differences, let's consider a table comparing key aspects of databases and flat files:

| Aspect | Database | Flat File |
|--------|----------|-----------|
| Structure | Multiple interconnected tables | Single table |
| Data Relationships | Can represent complex relationships | No inherent relationships |
| Querying | Powerful query languages (e.g., SQL) | Limited to basic search and filter |
| Multi-user Access | Supports concurrent access with locking mechanisms | Limited to single-user or basic file locking |
| Data Integrity | Enforces data types, constraints, and relationships | No built-in integrity checks |
| Scalability | Can handle large amounts of data efficiently | Performance degrades with large datasets |
| Security | Granular access control and encryption | Basic file system permissions only |
| Backup and Recovery | Sophisticated backup and point-in-time recovery | Manual file copy for backup |

While flat files have their place â€“ they're simple, portable, and human-readable â€“ they fall short when dealing with complex or large-scale data needs. Here are some key advantages of databases over flat files:

1. **Data Integrity**: Databases can enforce rules about data types, relationships, and constraints, ensuring the data remains consistent and accurate.
2. **Efficient Querying**: With a database, you can quickly retrieve specific information based on complex criteria, something that would be time-consuming with a flat file.
3. **Data Relationships**: Databases can represent and maintain relationships between different types of data, allowing for a more accurate model of real-world scenarios.
4. **Concurrent Access**: Multiple users or applications can access and modify the data simultaneously without conflicts.
5. **Scalability**: Databases are designed to handle large amounts of data efficiently, maintaining performance as the dataset grows.

Consider a scenario where we're managing a bookstore's inventory. In a flat file system, we might have one large file containing all the information about books, authors, and inventory levels. Every time we need to update a book's details or check its stock, we'd need to search through the entire file. If multiple staff members try to update the file simultaneously, we risk data corruption or conflicts.

In contrast, a database solution would organize this information into separate tables for books, authors, and inventory. We could easily query for all books by a specific author, check which books are low in stock, or update a book's details without affecting other records. The database would handle relationships between these tables, ensuring that if an author's name is updated, it's reflected correctly for all of their books.

As we delve deeper into database concepts in the following sections, we'll explore how these advantages are implemented and how they contribute to solving complex data management challenges. Understanding the distinction between databases and flat files is crucial for appreciating the sophisticated tools and techniques that databases provide for turning raw data into structured, actionable information.

## What is a "Relational" Database?

In the world of databases, the relational model has emerged as one of the most powerful and widely used paradigms. A **relational database** is a type of database that organizes data into one or more tables (or "relations") of columns and rows, with a unique **primary key** identifying each row. Developed by E.F. Codd in 1970, this model revolutionized the way we think about and interact with data.

The fundamental idea behind a relational database is to represent data as a collection of related **tables**. Each table consists of **rows** (also called records or tuples) and **columns** (also called fields or attributes). The "relational" aspect comes from the ability to establish relationships between these tables based on common data points.

To understand the power of this model, let's consider a simple example of a bookstore database. We might have three main tables: Books, Authors, and Orders. Each of these tables would contain relevant information:

1. Books table: BookID (PK), Title, ISBN, PublicationYear, Price, AuthorID (FK)
2. Authors table: AuthorID (PK), FirstName, LastName, BirthYear

In this structure, the Books and Authors tables are related through through their keys. This is because the Books table has a **foreign key** (Books.AuthorID) that links it to the primary key of the Authors table (Authors.AuthorID). It's important to note that the primary and foreign keys don't have to have the same "name" (as they do here).

Here's a table illustrating some key concepts in relational databases:

| Concept | Description | Example |
|---------|-------------|---------|
| Table | A collection of related data entries consisting of columns and rows | Books table |
| Column (Field) | A category of data in a table | Title in Books table |
| Row (Record) | A single entry in a table | A specific book entry |
| Primary Key | A unique identifier for each row in a table | BookID in Books table |
| Foreign Key | A field in one table that connects to the primary key in another table | AuthorID in Books table |
| Relationship | A logical connection between different tables | Books-Authors relationship |

The relational model offers several significant advantages:

1. **Data Integrity**: By organizing data into separate tables and establishing relationships between them, we can avoid data duplication and ensure consistency.

2. **Flexibility**: As data needs change, we can add new tables or modify existing ones without overhauling the entire database structure.

3. **Powerful Querying**: Relational databases use SQL (Structured Query Language), which allows for complex queries across multiple tables.

4. **Data Independence**: The physical storage of the data is separate from its logical structure, allowing for changes to one without affecting the other.

5. **Scalability**: Relational databases can handle large amounts of data and complex relationships efficiently.

One of the key strengths of the relational model is its ability to represent complex relationships between different entities. In our bookstore example, we can easily answer questions like "Which authors have books that have been ordered more than 100 times?" or "What is the average price of books for each author?" These queries would involve joining multiple tables and performing calculations, something that relational databases excel at.

It's worth noting that while relational databases are incredibly versatile and powerful, they're not the only database model available. In recent years, other models like document databases, graph databases, and key-value stores have gained popularity for specific use cases. However, the relational model remains the foundation of many information systems due to its robust structure, powerful querying capabilities, and ability to maintain data integrity.

As we delve deeper into SQL and database operations in the following sections, we'll see how the relational model translates into practical data management and analysis tasks. Understanding the concept of relational databases is crucial for effectively designing, querying, and maintaining complex data systems.

## Sample Database: Books and Authors

To illustrate the concepts we'll be exploring throughout this chapter, we'll use a sample database centered around books and authors. This database will serve as a practical example to demonstrate various SQL queries and database operations. Our sample database will focus on five renowned authors: William Shakespeare, Jane Austen, James Joyce, Toni Morrison, and Salman Rushdie.

Let's begin by describing the structure of our database and provide the SQL code to create it. It will consist of two main tables: `Authors` and `Books`. These tables will be related to each other, demonstrating the power of relational databases.

Here's the SQL code to create these tables :

In [5]:
%reload_ext sql
%sql sqlite:///simple_books.db

In [6]:
%%sql
DROP TABLE IF EXISTS Authors;
DROP TABLE IF EXISTS Books;

CREATE TABLE Authors (
    AuthorID INTEGER PRIMARY KEY,
    FirstName VARCHAR(50) NOT NULL,
    LastName VARCHAR(50) NOT NULL,
    BirthYear INTEGER,
    DeathYear INTEGER,
    Nationality VARCHAR(50)
);

CREATE TABLE Books (
    BookID INTEGER PRIMARY KEY,
    Title VARCHAR(100) NOT NULL,
    AuthorID INTEGER,
    PublicationYear INTEGER,
    Genre VARCHAR(50),
    PageCount INTEGER,
    FOREIGN KEY (AuthorID) REFERENCES Authors(AuthorID)
);

   sqlite://
 * sqlite:///simple_books.db
Done.
Done.
Done.
Done.

[]

Let's break down the SQL code for creating our Authors and Books tables:

1. DROP TABLE IF EXISTS
   This command deletes a table if it already exists. It's often used to ensure a clean slate before creating new tables.

2. CREATE TABLE
   This is the main command to create a new table in SQL.

3. Data Types:
   - INTEGER: For whole numbers (e.g., AuthorID, BirthYear)
   - VARCHAR(n): For text, where n is the maximum number of characters (e.g., FirstName VARCHAR(50))
   - NOT NULL: Ensures that a column cannot have a null (empty) value

4. PRIMARY KEY
   This defines a unique identifier for each row in the table. For example, AuthorID is the primary key in the Authors table.

5. FOREIGN KEY
   This creates a link between two tables. In our Books table, AuthorID is a foreign key that references the AuthorID in the Authors table.

6. REFERENCES
   Used with FOREIGN KEY to specify which table and column are being referenced.

Now, let's populate these tables with some sample data. Here's the SQL code to insert the data:

In [ ]:
%%sql
DELETE FROM Authors;
DELETE FROM Books;

INSERT INTO Authors (AuthorID, FirstName, LastName, BirthYear, DeathYear, Nationality)
VALUES
    (1, 'William', 'Shakespeare', 1564, 1616, 'English'),
    (2, 'Jane', 'Austen', 1775, 1817, 'English'),
    (3, 'James', 'Joyce', 1882, 1941, 'Irish'),
    (4, 'Toni', 'Morrison', 1931, 2019, 'American'),
    (5, 'Salman', 'Rushdie', 1947, NULL, 'British Indian'),
    (6, 'George', 'Orwell', 1903, 1950, 'British');

INSERT INTO Books (BookID, Title, AuthorID, PublicationYear, Genre, PageCount)
VALUES
    (1, 'Hamlet', 1, 1603, 'Tragedy', 342),
    (2, 'Romeo and Juliet', 1, 1597, 'Tragedy', 283),
    (3, 'Macbeth', 1, 1606, 'Tragedy', 305),
    (4, 'Pride and Prejudice', 2, 1813, 'Romance', 432),
    (5, 'Sense and Sensibility', 2, 1811, 'Romance', 384),
    (6, 'Emma', 2, 1815, 'Romance', 474),
    (7, 'Ulysses', 3, 1922, 'Modernist', 730),
    (8, 'Dubliners', 3, 1914, 'Short Story', 152),
    (9, 'A Portrait of the Artist as a Young Man', 3, 1916, 'Modernist', 299),
    (10, 'Beloved', 4, 1987, 'Historical Fiction', 324),
    (11, 'Song of Solomon', 4, 1977, 'Fiction', 337),
    (12, 'The Bluest Eye', 4, 1970, 'Fiction', 216),
    (13, 'Midnight''s Children', 5, 1981, 'Magical Realism', 536),
    (14, 'The Satanic Verses', 5, 1988, 'Magical Realism', 547),
    (15, 'The Moor''s Last Sigh', 5, 1995, 'Fiction', 434);

 * sqlite://
6 rows affected.
15 rows affected.

[]

This SQL code populates our Authors and Books tables with data. Here are the key points:

1. DELETE FROM: Clears existing data from the tables before inserting new records.

2. INSERT INTO: The command used to add new rows to a table.

3. VALUES: Specifies the data to be inserted. Each parenthesis () contains values for one row.

4. Data Types:
   - Strings (like names and titles) are in single quotes ''
   - Numbers (like years and page counts) are without quotes
   - NULL is used for unknown values (like Rushdie's DeathYear)

5. Foreign Key: The AuthorID in the Books table corresponds to the AuthorID in the Authors table, linking books to their authors.

6. Multiple Inserts: Multiple rows are inserted in a single statement, separated by commas.

This sample database, while simplified, provides us with enough complexity to demonstrate various SQL queries and database operations. It allows us to explore relationships between authors and their works, as well as to perform analyses based on publication years, genres, nationalities, and now page counts.

Some questions we might explore with this database include:

1. Which author has written the most books in our database?
2. What is the average page count for each author's books?
3. How many books were published in each century?
4. Which genres are represented in our database, and how many books are in each genre?
5. Who is the oldest and youngest author in our database?

As we progress through the subsequent sections on SQL and database operations, we'll use this sample database to provide concrete examples. This will help illustrate how to construct queries, join tables, perform aggregations, and extract meaningful insights from our data.

By working with this books and authors database, we'll gain practical experience in database manipulation and analysis, skills that can be applied to a wide range of real-world data management scenarios. Whether you're interested in literary analysis, managing a bookstore inventory, or simply learning about database operations, this sample database will serve as a valuable learning tool throughout the rest of this chapter.

## What is SQL?

**SQL**, which stands for Structured Query Language, is the standard language for interacting with relational databases. Developed in the 1970s by IBM, SQL has become the de facto standard for managing and querying relational databases across various platforms and systems.

SQL is designed to be both powerful and relatively easy to learn, allowing users to perform complex data operations with concise, readable commands. It's used for a wide range of database operations, including:

1. Querying data
2. Inserting, updating, and deleting records
3. Creating, modifying, and deleting database structures
4. Setting permissions on database objects

One of SQL's key strengths is its declarative nature. When using SQL, you specify what data you want to retrieve or manipulate, not how to do it. The database management system figures out the most efficient way to execute your request. This abstraction makes SQL both powerful and accessible to users who might not be expert programmers.

SQL commands can be broadly categorized into several types:

| Category | Purpose | Examples |
|----------|---------|----------|
| Data Query Language (DQL) | Retrieving data | SELECT |
| Data Manipulation Language (DML) | Modifying data | INSERT, UPDATE, DELETE |
| Data Definition Language (DDL) | Defining database structures | CREATE, ALTER, DROP |
| Data Control Language (DCL) | Managing access and permissions | GRANT, REVOKE |
| Transaction Control Language (TCL) | Managing transactions | COMMIT, ROLLBACK |

While SQL is standardized (the latest standard being SQL:2016 as of my last update), different database systems may have slight variations or extensions to the standard. However, the core concepts and most common commands are consistent across platforms, making SQL skills highly transferable.

Let's look at a simple SQL query using our Books and Authors database:

In [ ]:
%%sql
SELECT Title, FirstName, LastName
FROM Books
JOIN Authors ON Books.AuthorID = Authors.AuthorID
WHERE PublicationYear > 1900
ORDER BY PublicationYear;

 * sqlite://
Done.

[('Dubliners', 'James', 'Joyce'),
 ('A Portrait of the Artist as a Young Man', 'James', 'Joyce'),
 ('Ulysses', 'James', 'Joyce'),
 ('The Bluest Eye', 'Toni', 'Morrison'),
 ('Song of Solomon', 'Toni', 'Morrison'),
 ("Midnight's Children", 'Salman', 'Rushdie'),
 ('Beloved', 'Toni', 'Morrison'),
 ('The Satanic Verses', 'Salman', 'Rushdie'),
 ("The Moor's Last Sigh", 'Salman', 'Rushdie')]

This query demonstrates several key SQL features:
- The SELECT statement specifies which columns we want to retrieve.
- The FROM clause indicates which table(s) we're querying.
- The JOIN clause combines data from two tables based on a related column.
- The WHERE clause filters the results based on a condition.
- The ORDER BY clause sorts the results.

As we delve deeper into SQL in the following sections, we'll explore these and many other SQL features in detail. We'll learn how to write increasingly complex queries, manipulate data, and extract meaningful insights from our database.

Understanding SQL is crucial for anyone working with databases, whether you're a data analyst, a software developer, or a business intelligence specialist. It provides a powerful tool for accessing and manipulating data, enabling you to answer complex questions and derive valuable insights from your data.

In the upcoming sections, we'll explore various SQL commands and concepts, starting with the fundamental SELECT statement and building up to more complex operations like joins, aggregations, and subqueries. By the end of this chapter, you'll have a solid foundation in SQL and be well-equipped to work with relational databases effectively.

## SQL: SELECT and FROM

The SELECT statement is the workhorse of SQL, used to retrieve data from one or more tables in a database. It's often the first SQL command that newcomers learn, and it's used extensively in data analysis and reporting. The FROM clause is an integral part of the SELECT statement, specifying the table(s) from which to retrieve the data.

Let's break down the basic structure of a SELECT statement:

```sql
SELECT column1, column2, ...
FROM table_name;
```

Here's what each part does:

- SELECT: Specifies which columns you want to retrieve from the database.
- FROM: Indicates the table from which to retrieve the data.

While this structure is simple, it's incredibly powerful and flexible. Let's explore some variations and advanced uses of SELECT and FROM using our Books and Authors database.

1. Selecting All Columns

To retrieve all columns from a table, you can use the asterisk (*) wildcard:

In [ ]:
%%sql
SELECT *
FROM Books;

 * sqlite://
Done.

[(1, 'Hamlet', 1, 1603, 'Tragedy', 342),
 (2, 'Romeo and Juliet', 1, 1597, 'Tragedy', 283),
 (3, 'Macbeth', 1, 1606, 'Tragedy', 305),
 (4, 'Pride and Prejudice', 2, 1813, 'Romance', 432),
 (5, 'Sense and Sensibility', 2, 1811, 'Romance', 384),
 (6, 'Emma', 2, 1815, 'Romance', 474),
 (7, 'Ulysses', 3, 1922, 'Modernist', 730),
 (8, 'Dubliners', 3, 1914, 'Short Story', 152),
 (9, 'A Portrait of the Artist as a Young Man', 3, 1916, 'Modernist', 299),
 (10, 'Beloved', 4, 1987, 'Historical Fiction', 324),
 (11, 'Song of Solomon', 4, 1977, 'Fiction', 337),
 (12, 'The Bluest Eye', 4, 1970, 'Fiction', 216),
 (13, "Midnight's Children", 5, 1981, 'Magical Realism', 536),
 (14, 'The Satanic Verses', 5, 1988, 'Magical Realism', 547),
 (15, "The Moor's Last Sigh", 5, 1995, 'Fiction', 434)]

This query will return all columns and all rows from the Books table. While convenient for exploration, it's generally better to explicitly list the columns you need in production code for clarity and efficiency.

2. Selecting Specific Columns

You can specify exactly which columns you want to retrieve:

In [ ]:
%%sql
SELECT Title, PublicationYear
FROM Books;

 * sqlite://
Done.

[('Hamlet', 1603),
 ('Romeo and Juliet', 1597),
 ('Macbeth', 1606),
 ('Pride and Prejudice', 1813),
 ('Sense and Sensibility', 1811),
 ('Emma', 1815),
 ('Ulysses', 1922),
 ('Dubliners', 1914),
 ('A Portrait of the Artist as a Young Man', 1916),
 ('Beloved', 1987),
 ('Song of Solomon', 1977),
 ('The Bluest Eye', 1970),
 ("Midnight's Children", 1981),
 ('The Satanic Verses', 1988),
 ("The Moor's Last Sigh", 1995)]

This query will return only the Title and PublicationYear for all books in the database.

3. Aliasing Columns

You can give columns alternative names in the query results using aliases:

In [ ]:
%%sql
SELECT Title AS BookTitle, PublicationYear AS YearPublished
FROM Books;

 * sqlite://
Done.

[('Hamlet', 1603),
 ('Romeo and Juliet', 1597),
 ('Macbeth', 1606),
 ('Pride and Prejudice', 1813),
 ('Sense and Sensibility', 1811),
 ('Emma', 1815),
 ('Ulysses', 1922),
 ('Dubliners', 1914),
 ('A Portrait of the Artist as a Young Man', 1916),
 ('Beloved', 1987),
 ('Song of Solomon', 1977),
 ('The Bluest Eye', 1970),
 ("Midnight's Children", 1981),
 ('The Satanic Verses', 1988),
 ("The Moor's Last Sigh", 1995)]

## Selecting Distinct Values

The DISTINCT keyword allows you to remove duplicate values from your query results:

In [ ]:
%%sql
SELECT DISTINCT Genre
FROM Books;

 * sqlite://
Done.

[('Tragedy',),
 ('Romance',),
 ('Modernist',),
 ('Short Story',),
 ('Historical Fiction',),
 ('Fiction',),
 ('Magical Realism',)]

This query will return a list of unique genres in our Books table. See the difference with this:

In [ ]:
%%sql
SELECT Genre
FROM Books;

 * sqlite://
Done.

[('Tragedy',),
 ('Tragedy',),
 ('Tragedy',),
 ('Romance',),
 ('Romance',),
 ('Romance',),
 ('Modernist',),
 ('Short Story',),
 ('Modernist',),
 ('Historical Fiction',),
 ('Fiction',),
 ('Fiction',),
 ('Magical Realism',),
 ('Magical Realism',),
 ('Fiction',)]

5. Performing Calculations

You can perform calculations or apply functions to columns in your SELECT statement:

In [ ]:
%%sql
SELECT Title, PublicationYear, PageCount,
       PageCount / 100.0 AS ApproximateWordCountInThousands
FROM Books;

 * sqlite://
Done.

[('Hamlet', 1603, 342, 3.42),
 ('Romeo and Juliet', 1597, 283, 2.83),
 ('Macbeth', 1606, 305, 3.05),
 ('Pride and Prejudice', 1813, 432, 4.32),
 ('Sense and Sensibility', 1811, 384, 3.84),
 ('Emma', 1815, 474, 4.74),
 ('Ulysses', 1922, 730, 7.3),
 ('Dubliners', 1914, 152, 1.52),
 ('A Portrait of the Artist as a Young Man', 1916, 299, 2.99),
 ('Beloved', 1987, 324, 3.24),
 ('Song of Solomon', 1977, 337, 3.37),
 ('The Bluest Eye', 1970, 216, 2.16),
 ("Midnight's Children", 1981, 536, 5.36),
 ('The Satanic Verses', 1988, 547, 5.47),
 ("The Moor's Last Sigh", 1995, 434, 4.34)]

This query estimates the word count for each book based on its page count.

## SQL: the WHERE clause

The WHERE clause is a powerful feature in SQL that allows you to filter the results of your query based on specified conditions. It's used to extract only those records that fulfill a specified criterion, making it an essential tool for data analysis and reporting.

The basic syntax of a SELECT statement with a WHERE clause is as follows:

```sql
SELECT column1, column2, ...
FROM table_name
WHERE condition;
```

The WHERE clause comes after the FROM clause in your SQL statement. It specifies a condition that must be true for a row to be included in the result set. Let's explore some of the most common operators used in WHERE clauses, using our Books and Authors database:

### Comparison Operators (<, >, =)

These operators allow you to compare values. They're fundamental to data filtering and are often the first type of WHERE clause that new SQL users learn.

In [ ]:
%%sql
SELECT Title, PublicationYear
FROM Books
WHERE PublicationYear > 1900;

 * sqlite://
Done.

[('Ulysses', 1922),
 ('Dubliners', 1914),
 ('A Portrait of the Artist as a Young Man', 1916),
 ('Beloved', 1987),
 ('Song of Solomon', 1977),
 ('The Bluest Eye', 1970),
 ("Midnight's Children", 1981),
 ('The Satanic Verses', 1988),
 ("The Moor's Last Sigh", 1995)]

This query retrieves all books published after 1900. The '>' operator checks if the PublicationYear is greater than 1900. You could also use '<' for less than, '=' for equal to, '>=' for greater than or equal to, and '<=' for less than or equal to.

For example, to find all books by Shakespeare (whom we know has an AuthorID of 1):

In [ ]:
%%sql
SELECT Title
FROM Books
WHERE AuthorID = 1;

 * sqlite://
Done.

[('Hamlet',), ('Romeo and Juliet',), ('Macbeth',)]

### LIKE Operator

The LIKE operator is used for pattern matching with wildcard characters. This is particularly useful when you're searching for partial matches in text fields.

In [ ]:
%%sql
SELECT Title
FROM Books
WHERE Title LIKE 'The%';

 * sqlite://
Done.

[('The Bluest Eye',), ('The Satanic Verses',), ("The Moor's Last Sigh",)]

This query finds all books whose titles start with "The". The '%' wildcard represents any number of characters. So 'The%' would match "The Great Gatsby", "The Catcher in the Rye", etc.

You can also use '_' as a wildcard for a single character. For example:

In [ ]:
%%sql
SELECT Title
FROM Books
WHERE Title LIKE 'H____t';

 * sqlite://
Done.

[('Hamlet',)]

This would match "Hamlet".

### BETWEEN Operator

BETWEEN is used to select values within a given range. It's inclusive, meaning it includes the boundary values.

In [ ]:
%%sql
SELECT Title, PageCount
FROM Books
WHERE PageCount BETWEEN 300 AND 400;

 * sqlite://
Done.

[('Hamlet', 342),
 ('Macbeth', 305),
 ('Sense and Sensibility', 384),
 ('Beloved', 324),
 ('Song of Solomon', 337)]

This retrieves books with 300 to 400 pages, including books with exactly 300 or 400 pages.

#### IN Operator

The IN operator allows you to specify multiple values in a WHERE clause. It's a shorthand for multiple OR conditions.

In [ ]:
%%sql
SELECT Title, Genre
FROM Books
WHERE Genre IN ('Fiction', 'Romance', 'Tragedy');

 * sqlite://
Done.

[('Hamlet', 'Tragedy'),
 ('Romeo and Juliet', 'Tragedy'),
 ('Macbeth', 'Tragedy'),
 ('Pride and Prejudice', 'Romance'),
 ('Sense and Sensibility', 'Romance'),
 ('Emma', 'Romance'),
 ('Song of Solomon', 'Fiction'),
 ('The Bluest Eye', 'Fiction'),
 ("The Moor's Last Sigh", 'Fiction')]

This query selects books in the specified genres. It's equivalent to:

In [ ]:
%%sql
SELECT Title, Genre
FROM Books
WHERE Genre = 'Fiction' OR Genre = 'Romance' OR Genre = 'Tragedy';

 * sqlite://
Done.

[('Hamlet', 'Tragedy'),
 ('Romeo and Juliet', 'Tragedy'),
 ('Macbeth', 'Tragedy'),
 ('Pride and Prejudice', 'Romance'),
 ('Sense and Sensibility', 'Romance'),
 ('Emma', 'Romance'),
 ('Song of Solomon', 'Fiction'),
 ('The Bluest Eye', 'Fiction'),
 ("The Moor's Last Sigh", 'Fiction')]

But the IN operator is more concise and often more readable.

### Logical Operators (AND, OR, NOT)

These operators allow you to combine multiple conditions:

In [ ]:
%%sql
SELECT Title, PublicationYear
FROM Books
WHERE PublicationYear < 1800 AND Genre = 'Tragedy';

 * sqlite://
Done.

[('Hamlet', 1603), ('Romeo and Juliet', 1597), ('Macbeth', 1606)]

This finds tragic plays published before 1800. The AND operator means both conditions must be true.

You can use OR if you want rows where either condition is true:

In [ ]:
%%sql
SELECT Title, Genre
FROM Books
WHERE Genre = 'Romance' OR PageCount > 400;

 * sqlite://
Done.

[('Pride and Prejudice', 'Romance'),
 ('Sense and Sensibility', 'Romance'),
 ('Emma', 'Romance'),
 ('Ulysses', 'Modernist'),
 ("Midnight's Children", 'Magical Realism'),
 ('The Satanic Verses', 'Magical Realism'),
 ("The Moor's Last Sigh", 'Fiction')]

This finds books that are either romances or longer than 400 pages.

The NOT operator negates a condition:

In [ ]:
%%sql
SELECT Title, Genre
FROM Books
WHERE NOT Genre = 'Romance';

 * sqlite://
Done.

[('Hamlet', 'Tragedy'),
 ('Romeo and Juliet', 'Tragedy'),
 ('Macbeth', 'Tragedy'),
 ('Ulysses', 'Modernist'),
 ('Dubliners', 'Short Story'),
 ('A Portrait of the Artist as a Young Man', 'Modernist'),
 ('Beloved', 'Historical Fiction'),
 ('Song of Solomon', 'Fiction'),
 ('The Bluest Eye', 'Fiction'),
 ("Midnight's Children", 'Magical Realism'),
 ('The Satanic Verses', 'Magical Realism'),
 ("The Moor's Last Sigh", 'Fiction')]

This finds all books that are not romances.

Here's a table summarizing these WHERE clause operators:

| Operator | Purpose | Example |
|----------|---------|---------|
| =, <, >, <=, >= | Comparison | WHERE PageCount > 300 |
| LIKE | Pattern matching | WHERE Title LIKE 'The%' |
| BETWEEN | Range selection | WHERE PublicationYear BETWEEN 1800 AND 1900 |
| IN | Multiple possible values | WHERE Genre IN ('Fiction', 'Romance') |
| AND | Both conditions true | WHERE PublicationYear < 1800 AND Genre = 'Tragedy' |
| OR | Either condition true | WHERE Genre = 'Fiction' OR PageCount > 400 |
| NOT | Negation | WHERE NOT Genre = 'Romance' |

The WHERE clause is a fundamental part of SQL that allows you to precisely control which data is returned by your queries. By mastering the use of the WHERE clause, you'll be able to efficiently extract exactly the information you need from your database, no matter how large or complex it may be.

## SQL: ORDER BY and LIMIT

After selecting and filtering data with SELECT, FROM, and WHERE clauses, you often want to sort the results or limit the number of rows returned. This is where the ORDER BY and LIMIT clauses come in handy.

### ORDER BY Clause

The ORDER BY clause is used to sort the result set in ascending or descending order. The basic syntax is:

```sql
SELECT column1, column2, ...
FROM table_name
ORDER BY column1 [ASC|DESC], column2 [ASC|DESC], ...;
```

Here's how it works:

1. By default, ORDER BY sorts in ascending order (ASC).
2. You can specify DESC for descending order.
3. You can sort by multiple columns; the second column will be used to break ties in the first column, and so on.

Let's look at some examples using our Books table:

In [ ]:
%%sql
SELECT Title, PublicationYear
FROM Books
ORDER BY PublicationYear;

 * sqlite://
Done.

[('Romeo and Juliet', 1597),
 ('Hamlet', 1603),
 ('Macbeth', 1606),
 ('Sense and Sensibility', 1811),
 ('Pride and Prejudice', 1813),
 ('Emma', 1815),
 ('Dubliners', 1914),
 ('A Portrait of the Artist as a Young Man', 1916),
 ('Ulysses', 1922),
 ('The Bluest Eye', 1970),
 ('Song of Solomon', 1977),
 ("Midnight's Children", 1981),
 ('Beloved', 1987),
 ('The Satanic Verses', 1988),
 ("The Moor's Last Sigh", 1995)]

This query retrieves all book titles and their publication years, sorted from earliest to latest.

In [ ]:
%%sql
SELECT Title, PageCount
FROM Books
ORDER BY PageCount DESC;

 * sqlite://
Done.

[('Ulysses', 730),
 ('The Satanic Verses', 547),
 ("Midnight's Children", 536),
 ('Emma', 474),
 ("The Moor's Last Sigh", 434),
 ('Pride and Prejudice', 432),
 ('Sense and Sensibility', 384),
 ('Hamlet', 342),
 ('Song of Solomon', 337),
 ('Beloved', 324),
 ('Macbeth', 305),
 ('A Portrait of the Artist as a Young Man', 299),
 ('Romeo and Juliet', 283),
 ('The Bluest Eye', 216),
 ('Dubliners', 152)]

his query lists books from longest to shortest.

You can also sort by multiple columns:

In [ ]:
%%sql
SELECT Title, AuthorID, PublicationYear
FROM Books
ORDER BY AuthorID ASC, PublicationYear DESC;

 * sqlite://
Done.

[('Macbeth', 1, 1606),
 ('Hamlet', 1, 1603),
 ('Romeo and Juliet', 1, 1597),
 ('Emma', 2, 1815),
 ('Pride and Prejudice', 2, 1813),
 ('Sense and Sensibility', 2, 1811),
 ('Ulysses', 3, 1922),
 ('A Portrait of the Artist as a Young Man', 3, 1916),
 ('Dubliners', 3, 1914),
 ('Beloved', 4, 1987),
 ('Song of Solomon', 4, 1977),
 ('The Bluest Eye', 4, 1970),
 ("The Moor's Last Sigh", 5, 1995),
 ('The Satanic Verses', 5, 1988),
 ("Midnight's Children", 5, 1981)]

This query sorts books first by AuthorID in ascending order, then by PublicationYear in descending order for each author.

## LIMIT Clause

The LIMIT clause is used to specify the maximum number of rows the result set should return. This is particularly useful when you're dealing with large datasets and only need to see a few rows. The basic syntax is:

```sql
SELECT column1, column2, ...
FROM table_name
LIMIT number_of_rows;
```

Here are some examples:

In [ ]:
%%sql
SELECT Title, PublicationYear
FROM Books
ORDER BY PublicationYear DESC
LIMIT 5;

 * sqlite://
Done.

[("The Moor's Last Sigh", 1995),
 ('The Satanic Verses', 1988),
 ('Beloved', 1987),
 ("Midnight's Children", 1981),
 ('Song of Solomon', 1977)]

This query retrieves the titles and publication years of the 5 most recently published books.

In [ ]:
%%sql
SELECT Title, PageCount
FROM Books
ORDER BY PageCount DESC
LIMIT 3;

This query finds the titles and page counts of the 3 longest books in the database.

It's important to note that LIMIT is typically used in conjunction with ORDER BY. Without ORDER BY, the database will return an arbitrary set of rows, which may not be what you want.

Here's a table summarizing these clauses:

| Clause | Purpose | Example |
|--------|---------|---------|
| ORDER BY | Sort results | ORDER BY PublicationYear DESC |
| LIMIT | Restrict number of rows returned | LIMIT 5 |

Remember:
1. ORDER BY goes after WHERE (if present) in your SQL statement.
2. LIMIT is typically the last clause in your SQL statement.
3. Not all database systems support LIMIT. Some use TOP or ROWNUM instead.

Using ORDER BY and LIMIT together allows you to create queries that answer questions like "Who are our top 10 bestselling authors?" or "What are the 5 shortest books in our database?" These clauses are essential tools for data analysis and reporting.

## SQL: Aggregate Functions

Aggregate functions in SQL are used to perform calculations on a set of values and return a single result. These functions are powerful tools for data analysis, allowing you to summarize information across multiple rows. Let's explore some of the most commonly used aggregate functions.

The basic syntax for using an aggregate function is:

```sql
SELECT aggregate_function(column_name)
FROM table_name;
```

Here are the five most common aggregate functions:

1. COUNT(): Counts the number of rows that match the specified criteria.
2. SUM(): Calculates the sum of a set of values.
3. AVG(): Calculates the average of a set of values.
4. MAX(): Returns the maximum value in a set of values.
5. MIN(): Returns the minimum value in a set of values.

Let's look at examples of each using our Books database:

1. COUNT()

In [ ]:
%%sql
SELECT COUNT(*) AS TotalBooks
FROM Books;

 * sqlite://
Done.

[(15,)]

   This query returns the total number of books in our database.

2. SUM()

In [ ]:
%%sql
SELECT SUM(PageCount) AS TotalPages
FROM Books;

 * sqlite://
Done.

[(5795,)]

This calculates the total number of pages across all books.

3. AVG()

In [ ]:
%%sql
SELECT AVG(PageCount) AS AverageBookLength
FROM Books;

 * sqlite://
Done.

[(386.3333333333333,)]

This gives us the average number of pages per book.

4. MAX() and MIN()

In [ ]:
%%sql
SELECT MAX(PageCount) AS LongestBook,
MIN(PageCount) AS ShortestBook
FROM Books;

 * sqlite://
Done.

[(730, 152)]

This finds the longest and shortest books.

Aggregate functions become even more powerful when combined with other SQL clauses. For example:

In [ ]:
%%sql
SELECT AuthorID, COUNT(*) AS BookCount
FROM Books
GROUP BY AuthorID;

 * sqlite://
Done.

[(1, 3), (2, 3), (3, 3), (4, 3), (5, 3)]

This query counts the number of books written by each author. We'll find out more about GROUP BY in the next section.

Here's a table summarizing these aggregate functions:

| Function | Purpose | Example |
|----------|---------|---------|
| COUNT() | Count rows | COUNT(*) AS TotalBooks |
| SUM() | Sum values | SUM(PageCount) AS TotalPages |
| AVG() | Calculate average | AVG(PageCount) AS AverageBookLength |
| MAX() | Find maximum value | MAX(PublicationYear) AS MostRecentBook |
| MIN() | Find minimum value | MIN(PublicationYear) AS OldestBook |

It's important to note a few key points about aggregate functions:

1. They ignore NULL values (except COUNT(*), which includes all rows).
2. When used with GROUP BY, they perform the calculation for each group.
3. They can be used in the HAVING clause to filter groups based on aggregate values.

Aggregate functions are essential tools for data analysis in SQL. They allow you to summarize large amounts of data quickly and efficiently, providing valuable insights into your dataset.

## SQL: GROUP BY and HAVING

The GROUP BY and HAVING clauses are powerful features in SQL that work hand in hand with aggregate functions. They allow you to group rows that have the same values in specified columns and filter these groups based on aggregate conditions.

### GROUP BY Clause

The GROUP BY clause is used to arrange identical data into groups. The basic syntax is:

```sql
SELECT column1, aggregate_function(column2)
FROM table_name
GROUP BY column1;
```

Here's an example using our Books database:

In [ ]:
%%sql
SELECT AuthorID, COUNT(*) AS BookCount
FROM Books
GROUP BY AuthorID;

 * sqlite://
Done.

[(1, 3), (2, 3), (3, 3), (4, 3), (5, 3)]

This query groups the books by AuthorID and counts how many books each author has written.

You can group by multiple columns as well:

In [ ]:
%%sql
SELECT AuthorID, Genre, COUNT(*) AS BookCount
FROM Books
GROUP BY AuthorID, Genre;

 * sqlite://
Done.

[(1, 'Tragedy', 3),
 (2, 'Romance', 3),
 (3, 'Modernist', 2),
 (3, 'Short Story', 1),
 (4, 'Fiction', 2),
 (4, 'Historical Fiction', 1),
 (5, 'Fiction', 1),
 (5, 'Magical Realism', 2)]

This groups books by both AuthorID and Genre, showing how many books each author has written in each genre.

### HAVING Clause

The HAVING clause is used to filter groups based on aggregate conditions. It's similar to the WHERE clause, but it operates on groups rather than individual rows. The basic syntax is:

```sql
SELECT column1, aggregate_function(column2)
FROM table_name
GROUP BY column1
HAVING condition;
```

Here's an example:

In [ ]:
%%sql
SELECT AuthorID, AVG(PageCount) AS AvgPageCount
FROM Books
GROUP BY AuthorID
HAVING AVG(PageCount) > 300;

 * sqlite://
Done.

[(1, 310.0), (2, 430.0), (3, 393.6666666666667), (5, 505.6666666666667)]

This query groups books by AuthorID, calculates the average page count for each author, and then only shows authors whose average book length is over 300 pages.

You can use WHERE and HAVING in the same query:

In [ ]:
%%sql
SELECT AuthorID, COUNT(*) AS BookCount
FROM Books
WHERE PublicationYear > 1900
GROUP BY AuthorID
HAVING COUNT(*) > 1;

 * sqlite://
Done.

[(3, 3), (4, 3), (5, 3)]

This query:
1. Filters for books published after 1900 (WHERE clause)
2. Groups the remaining books by AuthorID
3. Counts the books for each author
4. Only shows authors who have written more than one book (HAVING clause)

Here's a table summarizing the key differences between WHERE and HAVING:

| Aspect | WHERE | HAVING |
|--------|-------|--------|
| Operates on | Individual rows | Groups |
| Used with | Any columns | Aggregate functions |
| Comes before | GROUP BY | After GROUP BY |

Remember these key points:
1. GROUP BY comes after WHERE and before ORDER BY in a SQL statement.
2. HAVING comes after GROUP BY.
3. You can only use column names in the SELECT list and GROUP BY clause that are not part of an aggregate function.
4. HAVING is used to filter groups, while WHERE is used to filter individual rows.

GROUP BY and HAVING are essential for data analysis tasks that involve categorizing data and performing calculations on these categories. They allow you to answer questions like "Which authors have written more than 5 books?" or "What is the average page count for each genre, considering only genres with more than 3 books?"

## SQL: Introducing JOINs

In the world of relational databases, data is often distributed across multiple tables to minimize redundancy and maintain data integrity. This design principle, known as normalization, is a cornerstone of efficient database management. However, it presents a challenge: How do we bring this distributed data back together when we need to analyze it as a whole? This is where JOINs come into play.

JOINs are a fundamental feature of SQL that allow us to combine rows from two or more tables based on a related column between them. They are the glue that holds the relational database model together, enabling us to structure our data efficiently while still being able to retrieve and analyze it holistically.

The importance of JOINs in relational databases cannot be overstated. They allow us to:

1. Maintain data integrity by storing information in separate, specialized tables.
2. Reduce data redundancy, saving storage space and minimizing update anomalies.
3. Retrieve complex, multi-dimensional data with a single query.
4. Establish and navigate relationships between different entities in our data model.

Consider our Books and Authors database. We've stored information about books and authors in separate tables to avoid repeating author information for each book. But what if we want to see a list of books with their corresponding author names? This is where JOINs become essential.

The most commonly used type of JOIN is the INNER JOIN. Let's explore it in detail:

### INNER JOIN

An INNER JOIN (often just called a JOIN) returns only the rows where there is a match in both tables. The basic syntax is:

```sql
SELECT columns
FROM table1
(INNER) JOIN table2 ON table1.column = table2.column;
```

Here's an example using our Books and Authors tables:

In [ ]:
%%sql
SELECT Books.Title, Authors.FirstName, Authors.LastName
FROM Books
JOIN Authors ON Books.AuthorID = Authors.AuthorID;

 * sqlite://
Done.

[('Hamlet', 'William', 'Shakespeare'),
 ('Romeo and Juliet', 'William', 'Shakespeare'),
 ('Macbeth', 'William', 'Shakespeare'),
 ('Pride and Prejudice', 'Jane', 'Austen'),
 ('Sense and Sensibility', 'Jane', 'Austen'),
 ('Emma', 'Jane', 'Austen'),
 ('Ulysses', 'James', 'Joyce'),
 ('Dubliners', 'James', 'Joyce'),
 ('A Portrait of the Artist as a Young Man', 'James', 'Joyce'),
 ('Beloved', 'Toni', 'Morrison'),
 ('Song of Solomon', 'Toni', 'Morrison'),
 ('The Bluest Eye', 'Toni', 'Morrison'),
 ("Midnight's Children", 'Salman', 'Rushdie'),
 ('The Satanic Verses', 'Salman', 'Rushdie'),
 ("The Moor's Last Sigh", 'Salman', 'Rushdie')]

This will return a list of all books along with their authors' names. It combines data from the Books and Authors tables based on the matching AuthorID.

It's important to note that INNER JOIN only returns rows where there's a match in both tables. If there's a book without an author or an author without a book, those rows won't appear in the result.

You can add additional conditions to your JOIN:

In [ ]:
%%sql
SELECT Books.Title, Authors.FirstName, Authors.LastName
FROM Books
INNER JOIN Authors ON Books.AuthorID = Authors.AuthorID
WHERE Books.PublicationYear > 1900;

 * sqlite://
Done.

[('Ulysses', 'James', 'Joyce'),
 ('Dubliners', 'James', 'Joyce'),
 ('A Portrait of the Artist as a Young Man', 'James', 'Joyce'),
 ('Beloved', 'Toni', 'Morrison'),
 ('Song of Solomon', 'Toni', 'Morrison'),
 ('The Bluest Eye', 'Toni', 'Morrison'),
 ("Midnight's Children", 'Salman', 'Rushdie'),
 ('The Satanic Verses', 'Salman', 'Rushdie'),
 ("The Moor's Last Sigh", 'Salman', 'Rushdie')]

This query will only return books published after 1900 along with their authors.

While INNER JOIN is powerful, there are situations where you might want to see all rows from one table, even if there's no match in the other table. This is where other types of JOINs, like LEFT JOIN, come in.

### Introducing LEFT JOIN

A LEFT JOIN returns all rows from the left table (the first table mentioned in the query), and the matched rows from the right table. If there's no match, the result is NULL on the right side.

Here's a basic example:

In [ ]:
%%sql
SELECT Authors.FirstName, Authors.LastName, Books.Title
FROM Authors
LEFT JOIN Books ON Authors.AuthorID = Books.AuthorID;

 * sqlite://
Done.

[('William', 'Shakespeare', 'Hamlet'),
 ('William', 'Shakespeare', 'Macbeth'),
 ('William', 'Shakespeare', 'Romeo and Juliet'),
 ('Jane', 'Austen', 'Emma'),
 ('Jane', 'Austen', 'Pride and Prejudice'),
 ('Jane', 'Austen', 'Sense and Sensibility'),
 ('James', 'Joyce', 'A Portrait of the Artist as a Young Man'),
 ('James', 'Joyce', 'Dubliners'),
 ('James', 'Joyce', 'Ulysses'),
 ('Toni', 'Morrison', 'Beloved'),
 ('Toni', 'Morrison', 'Song of Solomon'),
 ('Toni', 'Morrison', 'The Bluest Eye'),
 ('Salman', 'Rushdie', "Midnight's Children"),
 ('Salman', 'Rushdie', "The Moor's Last Sigh"),
 ('Salman', 'Rushdie', 'The Satanic Verses'),
 ('George', 'Orwell', None)]

This query will list all authors, even if they don't have any books in the Books table. For authors (like George Orwell) without books, the Title will be NULL.

LEFT JOIN is particularly useful when you want to see all records from one table, regardless of whether they have corresponding entries in another table.

Understanding different types of JOINs and when to use them is crucial for effectively working with relational databases. As you become more comfortable with INNER JOIN and LEFT JOIN, you'll be well-prepared to explore other types of JOINs and more complex database operations.

## Lab: Practice Your SQL

In [8]:
!wget https://github.com/brendanpshea/colab-utilities/raw/main/sql_select_quiz.py -q -nc
from sql_select_quiz import *
sql_select_quiz_url("https://github.com/brendanpshea/computing_concepts_python/raw/main/sql_select_quiz/simple_books.db","https://github.com/brendanpshea/database_sql/raw/main/quiz/sql_book_quiz.json")

VBox(children=(IntProgress(value=0, description='Progress:', max=1), HTML(value='<h3>Question 1 of 45:</h3><p>â€¦